body {
    margin: 0%;
    overflow: hidden;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
}

#droiteEtGauche {
    display: flex;
}

#gauche {
    background-color:#FCFBF4;
    text-align: center;
}

#gauche img {
    width: 200px;
    height: 200px;
    /* padding-bottom: -500px; */
}

#gauche h1 {
    color: #0D1321;
    font-size: 50px;
    margin-top: -40px;
}

#gauche h2 {
    color: #0D1321;
    font-size: 32px;
    margin-top: -50px;
}

#Pgauche {
    width: 100%;
    height: 200px;
    background-color: #0d13216f;
    position: absolute center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#Pgauche p {
    color: #0D1321;
    font-size: 26px;
    /* margin-left: 0;
    margin-right: 0; */
}

#bas {
    width: 100%;
    height: 150px;
    background-color: #0d132186;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#bas h1 {
    color: rgba(0, 0, 255, 0.813);
}

/* --------------------------------------------------------------- */


#droite {
    background-color: #0D1321;
    width: 50%;
    height: 1000px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

#droite img {
    width: 190px;
    height: 190px;
}

#droite h1 {
    color: #FCFBF4;
    font-size: 50px;
    margin-top: -35px;
}


