body {
    margin: 0%;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.567);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
}

header a{
    font-size: 30px;
    text-decoration: none;
    color: #FCFBF4;
}

#home {
    background-color: #252934;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(images/kevin-schmid-dsVDMSVw6Ic-unsplash.jpg);
    background-size: cover;
}

#home h1 {
    color: #FCFBF4;
    font-size: 63px;
    margin-top: -35px;
    font-weight: lighter;
}

#home img {
    width: 275px;
    height: 275px;
    padding-top: 50px;
}

#home p {
    font-size: 35px;
    color: #fcfbf4;
    margin-top: -15px;
}

#creations {
    background-color: #fcfbf4;
    width: 100%;
    height: 100vh;
    background-image: url(images/swegg.jpg);
    background-size: cover;
    display: flex;
}

#creaGauche {
    width: 50%;
    height: 100vh;
    /* background-color: aqua; */
}

#creaDroite {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

#creations a {
    color: #252934;
    text-decoration: none;
    font-size: 75px;
    padding-left: 220px;
}

/* #contact {
    background-color: #252934;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(images/black_keeboard.jpg);
    background-size: cover;
}

#gauche {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#gauche img {
    width:120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#droite {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#droite p {
    color: #fcfbf4;
    font-size: 40px;
} */

/* #contact {
    background-image: url(images/black_keeboard.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mail {
    width: 100%;
    height:175px;
    display: flex;
    justify-content: space-evenly;
}

#mail img {
    width: 95px;
    height: 95px;
    border-radius: 29px;
    margin-left: 32px;
}

#mail p {
    color: #FCFBF4;
    font-size: 50px;
    margin-top: 7px;
}

#phone {
    width: 100%;
    height:175px;
    display: flex;
    justify-content: space-evenly;
}

#phone img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

#phone p {
    color: #FCFBF4;
    font-size: 50px;
    margin-top: 15px;
    margin-right: 113px;
}

#linkedin {
    width: 100%;
    height:175px;
    display: flex;
    justify-content: space-evenly;
}

#linkedin img {
    width: 100px;
    height: 100px;
}

#linkedin p {
    color: #FCFBF4;
    font-size: 50px;
    margin-top: 13px;
    margin-right: 43px;
} */

.contact {
    background-image: url(images/black_keeboard.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

.icon-container {
    background-color: rgba(0, 255, 255, 0.267);
    width: 50%;
    height: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.text1 {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #FCFBF4;
    margin-left: -68px;
}
.text2 {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #FCFBF4;
    margin-left: -25px;
}
.text3 {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #FCFBF4;
}


