body {
    margin: 0%;
}

#droiteEtGauche {
    display: flex;
    width: 100%;
    height: 1000px;
}

#gauche {
    background-color:#FCFBF4;
    width: 50%;
    height: 1000px;
}

#droite {
    background-color: #0D1321;
    width: 50%;
    height: 1000px;
}